<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mozilla.fennec.dummy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" android:name="DummyFennecApplication">
        <activity
            android:name="org.mozilla.fennec.dummy.WebAppActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/webapp" />
            </intent-filter>
        </activity>
        
        <receiver android:name="WebAppInstallReceiver">
               <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/> 
                <data android:scheme="package" />
               </intent-filter>
               <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/> 
                <data android:scheme="package" />
               </intent-filter>
            
            
        </receiver>
    </application>

</manifest>