We want to frequently test the following things

* Across all known APKs

* start time
* finish time
* status code
* valid jar
* Save the APK for later reference

and also run the following regression checks
* Icons
* Debug / Non-Debug
* Caching